/* line 5, Events/web/scss/style2.scss */
body {
  background-color: #f7f7f7;
  font-family: 'poppins', sans-serif; }

/* line 11, Events/web/scss/style2.scss */
nav {
  background-color: #113255;
  box-shadow: none;
  height: 90px; }
  /* line 15, Events/web/scss/style2.scss */
  nav .nav-wrapper {
    background-color: #113255;
    box-shadow: none;
    height: 90px; }
    /* line 19, Events/web/scss/style2.scss */
    nav .nav-wrapper .logo {
      width: 20%;
      padding: 20px  50px;
      float: left; }
      /* line 23, Events/web/scss/style2.scss */
      nav .nav-wrapper .logo h1 {
        margin-top: -16px;
        font-weight: 700; }
        /* line 26, Events/web/scss/style2.scss */
        nav .nav-wrapper .logo h1 .first {
          color: #EFA52C;
          font-size: 40px; }
        /* line 30, Events/web/scss/style2.scss */
        nav .nav-wrapper .logo h1 .second {
          color: #fff;
          font-size: 15px; }
    /* line 36, Events/web/scss/style2.scss */
    nav .nav-wrapper .navbar {
      margin-top: 10px;
      margin-right: 30px; }
      /* line 39, Events/web/scss/style2.scss */
      nav .nav-wrapper .navbar li {
        font-size: 20px;
        font-weight: 500;
        color: #EFA52C;
        transition: .2s ease-in; }
      /* line 45, Events/web/scss/style2.scss */
      nav .nav-wrapper .navbar li:hover {
        color: #EFA52C; }
      /* line 48, Events/web/scss/style2.scss */
      nav .nav-wrapper .navbar button {
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 3px;
        margin-right: 40px;
        text-transform: lowercase !important; }
    /* line 56, Events/web/scss/style2.scss */
    nav .nav-wrapper .side-nav {
      margin-top: 50px;
      margin-right: 40px; }
    /* line 60, Events/web/scss/style2.scss */
    nav .nav-wrapper .button-collapse {
      margin-top: 20px;
      margin-right: 30px; }
  @media screen and (max-width: 600px) {
    /* line 67, Events/web/scss/style2.scss */
    nav .nav-wrapper .logo {
      width: 20%;
      padding: 20px  20px;
      float: left; }
      /* line 71, Events/web/scss/style2.scss */
      nav .nav-wrapper .logo h1 {
        font-size: 30px;
        font-weight: bold;
        margin-top: 0; }
        /* line 75, Events/web/scss/style2.scss */
        nav .nav-wrapper .logo h1 .first {
          color: #f0f0f0; }
        /* line 78, Events/web/scss/style2.scss */
        nav .nav-wrapper .logo h1 .second {
          color: #EFA52C; } }
  @media screen and (min-width: 600px) and (max-width: 960px) {
    /* line 11, Events/web/scss/style2.scss */
    nav {
      margin-right: 30px; } }

/* line 90, Events/web/scss/style2.scss */
.password-reset, .login-page, .new-password {
  width: 45%;
  margin: 60px auto 50px auto;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4); }
  /* line 96, Events/web/scss/style2.scss */
  .password-reset h1, .login-page h1, .new-password h1 {
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    height: 80px;
    text-align: center;
    background-color: #113255; }
    /* line 103, Events/web/scss/style2.scss */
    .password-reset h1 .first, .login-page h1 .first, .new-password h1 .first {
      color: #f0f0f0; }
    /* line 106, Events/web/scss/style2.scss */
    .password-reset h1 .second, .login-page h1 .second, .new-password h1 .second {
      color: #EFA52C; }
  /* line 110, Events/web/scss/style2.scss */
  .password-reset .text, .login-page .text, .new-password .text {
    width: 85%;
    height: 300px;
    margin: 60px auto; }
    /* line 114, Events/web/scss/style2.scss */
    .password-reset .text h3, .login-page .text h3, .new-password .text h3 {
      font-size: 30px; }
  /* line 118, Events/web/scss/style2.scss */
  .password-reset button, .login-page button, .new-password button {
    float: right;
    background-color: #EFA52C;
    color: #f0f0f0;
    border: none;
    filter: grayscale(20%);
    height: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    transition: .3s ease-in;
    border-radius: 3px;
    padding: 8px; }
  /* line 130, Events/web/scss/style2.scss */
  .password-reset button:hover, .login-page button:hover, .new-password button:hover {
    background-color: #113255; }
  /* line 133, Events/web/scss/style2.scss */
  .password-reset label, .login-page label, .new-password label {
    font-size: 18px; }
  @media screen and (max-width: 600px) {
    /* line 90, Events/web/scss/style2.scss */
    .password-reset, .login-page, .new-password {
      width: 90%;
      height: 450px; }
      /* line 139, Events/web/scss/style2.scss */
      .password-reset h1, .login-page h1, .new-password h1 {
        font-size: 30px; }
      /* line 142, Events/web/scss/style2.scss */
      .password-reset button, .login-page button, .new-password button {
        width: 50%; }
      /* line 146, Events/web/scss/style2.scss */
      .password-reset .text h3, .login-page .text h3, .new-password .text h3 {
        font-size: 25px; } }
  @media screen and (min-width: 600px) and (max-width: 960px) {
    /* line 90, Events/web/scss/style2.scss */
    .password-reset, .login-page, .new-password {
      width: 75%; } }

/* line 158, Events/web/scss/style2.scss */
.login-page, .new-password {
  margin-top: 30px;
  width: 40%;
  margin-bottom: 30px;
  height: auto; }
  /* line 164, Events/web/scss/style2.scss */
  .login-page #tabs, .new-password #tabs, .login-page #tabs-2, .new-password #tabs-2 {
    width: 100%;
    height: auto;
    padding-top: 50px;
    border-bottom: none;
    margin: auto;
    border-radius: 3px;
    background-color: #fff;
    /* label color */
    /* label focus color */
    /* label underline focus color */
    /* valid color */
    /* invalid color */
    /* icon prefix focus color */ }
    /* line 174, Events/web/scss/style2.scss */
    .login-page #tabs .input-field label, .new-password #tabs .input-field label, .login-page #tabs-2 .input-field label, .new-password #tabs-2 .input-field label {
      color: #000; }
    /* line 178, Events/web/scss/style2.scss */
    .login-page #tabs .input-field input[type=text]:focus + label, .new-password #tabs .input-field input[type=text]:focus + label, .login-page #tabs-2 .input-field input[type=text]:focus + label, .new-password #tabs-2 .input-field input[type=text]:focus + label {
      color: #113255; }
    /* line 182, Events/web/scss/style2.scss */
    .login-page #tabs .input-field input[type=text]:focus, .new-password #tabs .input-field input[type=text]:focus, .login-page #tabs-2 .input-field input[type=text]:focus, .new-password #tabs-2 .input-field input[type=text]:focus {
      border-bottom: 1px solid #113255;
      box-shadow: 0 1px 0 0 #000; }
    /* line 187, Events/web/scss/style2.scss */
    .login-page #tabs .input-field input[type=text].valid, .new-password #tabs .input-field input[type=text].valid, .login-page #tabs-2 .input-field input[type=text].valid, .new-password #tabs-2 .input-field input[type=text].valid {
      border-bottom: 1px solid #113255;
      box-shadow: 0 1px 0 0 #000; }
    /* line 192, Events/web/scss/style2.scss */
    .login-page #tabs .input-field input[type=text].invalid, .new-password #tabs .input-field input[type=text].invalid, .login-page #tabs-2 .input-field input[type=text].invalid, .new-password #tabs-2 .input-field input[type=text].invalid {
      border-bottom: 1px solid #113255;
      box-shadow: 0 1px 0 0 #000; }
    /* line 197, Events/web/scss/style2.scss */
    .login-page #tabs .input-field .prefix.active, .new-password #tabs .input-field .prefix.active, .login-page #tabs-2 .input-field .prefix.active, .new-password #tabs-2 .input-field .prefix.active {
      color: #113255; }
    /* line 200, Events/web/scss/style2.scss */
    .login-page #tabs .row, .new-password #tabs .row, .login-page #tabs-2 .row, .new-password #tabs-2 .row {
      margin-bottom: 0; }
    /* line 203, Events/web/scss/style2.scss */
    .login-page #tabs h2, .new-password #tabs h2, .login-page #tabs-2 h2, .new-password #tabs-2 h2 {
      margin-top: 0;
      font-weight: bolder;
      text-align: center;
      color: #222; }
    /* line 209, Events/web/scss/style2.scss */
    .login-page #tabs h2:after, .new-password #tabs h2:after, .login-page #tabs-2 h2:after, .new-password #tabs-2 h2:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 2px;
      margin-top: 10px;
      background: -moz-linear-gradient(left, rgba(239, 165, 44, 0) 0%, rgba(239, 165, 44, 0.8) 20%, #efa52c 53%, rgba(239, 165, 44, 0.8) 79%, rgba(239, 165, 44, 0) 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(239, 165, 44, 0)), color-stop(20%, rgba(239, 165, 44, 0.8)), color-stop(53%, #efa52c), color-stop(79%, rgba(239, 165, 44, 0.8)), color-stop(100%, rgba(239, 165, 60, 0)));
      background: -webkit-linear-gradient(left, rgba(239, 165, 44, 0) 0%, rgba(147, 184, 189, 0.8) 20%, #efa52c 53%, rgba(239, 165, 44, 0.8) 79%, rgba(239, 165, 44, 0) 100%);
      background: -o-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, #efa52c 53%, rgba(239, 165, 44, 0.8) 79%, rgba(239, 165, 44, 0) 100%);
      background: -ms-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(239, 165, 44, 0.8) 20%, #93b8bd 53%, rgba(239, 165, 44, 0.8) 79%, rgba(239, 165, 44, 0) 100%);
      background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, #efa52c 53%, rgba(239, 165, 44, 0.8) 79%, rgba(239, 165, 44, 0) 100%); }
    /* line 222, Events/web/scss/style2.scss */
    .login-page #tabs button, .new-password #tabs button, .login-page #tabs-2 button, .new-password #tabs-2 button {
      width: 20%;
      font-weight: bolder;
      margin-right: 10px; }
    /* line 227, Events/web/scss/style2.scss */
    .login-page #tabs a, .new-password #tabs a, .login-page #tabs-2 a, .new-password #tabs-2 a {
      float: left;
      margin-left: 10px;
      color: #113255;
      transition: .2 ease-in; }
    /* line 233, Events/web/scss/style2.scss */
    .login-page #tabs a:hover, .new-password #tabs a:hover, .login-page #tabs-2 a:hover, .new-password #tabs-2 a:hover {
      color: #9393b8; }
    /* line 236, Events/web/scss/style2.scss */
    .login-page #tabs .action, .new-password #tabs .action, .login-page #tabs-2 .action, .new-password #tabs-2 .action {
      height: 60px;
      background: linear-gradient(45deg, rgba(239, 165, 44, 0.4) 25%, rgba(17, 50, 85, 0.5) 0, rgba(17, 50, 85, 0.4) 50%, rgba(239, 165, 44, 0.4) 0, rgba(239, 165, 44, 0.4) 75%, rgba(17, 50, 85, 0.5) 0);
      background-size: 30px 30px;
      margin-top: 90px;
      width: 100%; }
      /* line 245, Events/web/scss/style2.scss */
      .login-page #tabs .action button, .new-password #tabs .action button, .login-page #tabs-2 .action button, .new-password #tabs-2 .action button {
        background-color: #f0f0f0;
        border: 1px solid #113255;
        float: right;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #000;
        transition: .2s ease-in;
        width: auto;
        height: auto;
        margin-top: 15px; }
      /* line 257, Events/web/scss/style2.scss */
      .login-page #tabs .action p, .new-password #tabs .action p, .login-page #tabs-2 .action p, .new-password #tabs-2 .action p {
        font-size: 15px;
        float: right;
        font-weight: 700;
        margin-top: 15px;
        margin-right: 15px; }
      /* line 264, Events/web/scss/style2.scss */
      .login-page #tabs .action button:hover, .new-password #tabs .action button:hover, .login-page #tabs-2 .action button:hover, .new-password #tabs-2 .action button:hover {
        color: #113255; }
  /* line 270, Events/web/scss/style2.scss */
  .login-page #tabs-2, .new-password #tabs-2 {
    display: none; }
    /* line 273, Events/web/scss/style2.scss */
    .login-page #tabs-2 .hide1, .new-password #tabs-2 .hide1, .login-page #tabs-2 .hide2, .new-password #tabs-2 .hide2 {
      display: none;
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3); }
    /* line 277, Events/web/scss/style2.scss */
    .login-page #tabs-2 .forme, .new-password #tabs-2 .forme {
      padding-left: 14px;
      margin-bottom: 15px; }
      /* line 280, Events/web/scss/style2.scss */
      .login-page #tabs-2 .forme p, .new-password #tabs-2 .forme p {
        font-size: 15px;
        margin: 0; }
  @media screen and (max-width: 600px) {
    /* line 158, Events/web/scss/style2.scss */
    .login-page, .new-password {
      width: 90%; }
      /* line 289, Events/web/scss/style2.scss */
      .login-page #tabs h2, .new-password #tabs h2, .login-page #tabs-2 h2, .new-password #tabs-2 h2 {
        font-size: 30px; }
      /* line 293, Events/web/scss/style2.scss */
      .login-page #tabs button, .new-password #tabs button, .login-page #tabs-2 button, .new-password #tabs-2 button {
        width: 40%; } }
  @media screen and (min-width: 600px) and (max-width: 960px) {
    /* line 158, Events/web/scss/style2.scss */
    .login-page, .new-password {
      width: 70%; } }

/* line 305, Events/web/scss/style2.scss */
.new-password {
  height: 400px;
  margin-top: 70px; }
  /* line 309, Events/web/scss/style2.scss */
  .new-password button {
    margin-right: 10px;
    width: 16%; }

/* line 314, Events/web/scss/style2.scss */
footer {
  background-color: transparent;
  width: 100%;
  margin-top: 0;
  text-align: center;
  height: 50px; }
  /* line 320, Events/web/scss/style2.scss */
  footer p {
    color: #000;
    font-weight: 700;
    text-align: center; }
    /* line 324, Events/web/scss/style2.scss */
    footer p a {
      color: #113255; }
  @media screen and (max-width: 600px) {
    /* line 329, Events/web/scss/style2.scss */
    footer p {
      font-size: 12px; } }
  @media screen and (min-width: 600px) and (max-width: 960px) {
    /* line 314, Events/web/scss/style2.scss */
    footer {
      width: 75%; } }

/*# sourceMappingURL=style2.css.map */